doctype html
html(lang='en')
    head
        title Hello, World!
        link(rel='stylesheet', href='index.css')
    body
        p(class='heading') memChess
        form(action='play' method='post')
            div(class='difficulty')
                span Select a Difficulty:
                select(class='diffSel' name='difficulty')
                    option(value='easy') Easy
                    option(selected value='medium') Medium
                    option(value='hard') Hard
            div(class="playBtn")
                button(type="submit") Play
        img(src="chesspieces.png" class="bottom")

