body {
    text-align: center;
    font-family: 'Courier New';
    font-size: 15px;
    margin: 5px;
}

.btn {
    margin: 5px;
    text-align: center;
    font-family: 'Courier New';
    margin-top: 5px;
    margin-bottom: 5px;
    height: 60px;
    width: 62.5px;
}

option {
    font-family: 'Courier New';
}

#diff { 
    height: 30px;
    font-family: 'Courier New';
}

.buttons {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 40px;
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    .logo {
        display: none;
    }
    .btn {
        height: 40px;
        width: 62.5px;
    }
}