body {
    text-align: center;
    font-family: 'Courier New';
    font-size: 15px;
}

.btn {
    font-family: 'Courier New';
    background-color: none;
    border: solid black;
    width: 80px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    display: inline-block;
}

.deletePiece:focus {
    background-color: #616161;
}

.deletePiece {
    font-family: 'Courier New';
    margin-top: 5px;
    margin-bottom: 5px;
    height: 62.5px;
    width: 62.5px;
}

.deleteBoard {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Courier New';
    margin: 5px;
    height: 62.5px;
    width: 62.5px;
}


.inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-weight: bold;
    font-size: 40px;
}